.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding-top: calc(30vh + 2rem); /* Ajusta este valor según sea necesario */
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    transition: margin-left $transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
}
